<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">


<head th:fragment="head">
	<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}" type="application/javascript"></script>
	<script th:src="@{/webjars/jquery/3.7.0/jquery.min.js}" type="application/javascript"></script>
	<link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{css/style.css}" />
	<script th:src="@{js/main.js}"></script>
	<title>TRAM</title>
</head>
<div th:fragment="nav">
	<nav class="navbar navbar-dark bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand">Task Reminders and Management</a>
			<div class="container" onclick="change(this)">
				<div class="bar1"></div>
				<div class="bar2"></div>
				<div class="bar3"></div>
			</div>
		</div>
	</nav>

	<div th:switch="${session.loggedInUser}" id="menu" class="collapse"> 
		<div th:case="null" class="container-menu p-3">
			<div class="inline-flex pb-2">
				<label for="">Already a user?</label>
				<button class="btn btn-secondary" style="float:right;" id="login">Login</button>
			</div>
			<hr class="hr" />
			<div class="inline-flex pb-2">
				<label for="">Don't have an account?</label>
				<button style="float:right;" class="btn btn-secondary" id="register">Register</button>
			</div>
		</div>
		<div th:case="*" class="container-menu p-3">
			<h3>${session.loggedInUser.FirstName}</h3>
		</div>
	</div>
	
	<!-- create bootstrap alert div -->

	<div class="alerts">
		<div class="alert alert-danger" id="err_msg" style="opacity:0;">

		</div>
		<div class="alert alert-success" id="success_msg" style="opacity:0;">

		</div>
	</div>

	<!-- Modal -->

	<div th:if="${session.loggedInUser == null}" class="modal fade" id="loginModal">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Login</h5>
				</div>
				
				<div class="modal-body">
					<form th:action="@{/user/login}" id="loginForm" method="post">
						<div class="form-group">
							<label for="email">Email: </label>
							<input type="text" class="form-control" name="loginEmail" id="loginEmail" maxlength="100" required/>
						</div>
						<div class="form-group">
							<label for="username">User name: </label>
							<input type="text" class="form-control" name="regUsername" id="regUsername" minlength="5" maxlength="12" required/>
						</div>
						<div class="form-group">
							<label for="pass">Password: </label>
							<input type="password" class="form-control" name="regPass" id="regPass" minlength="8" maxlength="32" required/>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="loginSave">Save changes</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<div th:if="${session.loggedInUser == null}" class="modal fade" id="registerModal" style="display:none;">
		<div class="modal-dialog modal-dialog-centered modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Register</h5>
				</div>
				<div class="modal-body">
					<form th:action="@{/user/register}" id="registerForm" method="post">
						<div class="form-group">
							<label for="email">Email: </label>
							<input type="text" class="form-control" name="regEmail" id="regEmail" maxlength="100" required/>
						</div>
						<div class="form-group row">
							  <div class="col-sm-6">
							    <label for="regfName" class="col-form-label">First Name: </label>
							    <input type="text" id="regfName" class="form-control" name="regfName" maxlength="40" required>
							  </div>
							  <div class="col-sm-6">
							    <label for="reglName" class="col-form-label">Last Name: </label>
							    <input type="text" id="reglName" class="form-control" name="reglName" maxlength="40" required>
							  </div>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" id="registerSave">Register</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script th:src="@{js/validation.js}"></script>

</div>